<div class="wrapper">
  <div class="grid-x grid-padding-x">
    <div class="cell medium-5 text-center">
      <div class="thumbnail" style="position: relative;">
        <img src="../assets/img/TOP_BIG_SUR_POSE_400.jpg" alt="Allen Thich standing on rocks with the Pacific Ocean behind him">
        <div class='gradient-overlay'></div>
        <div class="text-left" style="font-size: .7em; font-style: italic; color: dimgray;position: absolute; bottom: 0.5em;">
          Image taken by Mi Thich
        </div>
      </div>
    </div>
    <div class="cell medium-7">
      <div class="cell">
        <p class="subhead">NAME</p>
        <p class="upcase ns-font">ALLEN THICH</p>
        <p class="subhead">LOCATION</p>
        <p class="upcase ns-font">MONTEREY BAY, CALIFORNIA</p>
        <p class="subhead">EDUCATION</p>
        <p class="upcase ns-font">
          <b>University of California, Irvine</b><br/>
          Bachelor of Science (B.S.), Computer Science<br/>
          2012 – 2016
        </p>

        <p class="subhead">INTERESTS</p>
        <p class="upcase ns-font">
          CYCLING<br/>
          PROGRAMMING
        </p>
      </div>
    </div>
  </div>

  <!-- Begin Heading -->
  <!-- <div class="cell grid-x grid-margin-x align-center-top grid-padding-y">
    <div class="cell">
      <p class="subhead">EDUCATION</p>
      <p class="upcase ns-font">
        <b>University of California, Irvine</b><br/>
        Bachelor of Science (B.S.), Computer Science<br/>
        2012 – 2016
      </p>

      <p class="subhead">INTERESTS</p>
      <p class="upcase ns-font">
        CYCLING<br/>
        PROGRAMMING
      </p>
    </div>
  </div> -->
  <!-- End Heading -->
</div>