<div class="hero grid-x grid-padding-y align-center-middle text-center">
  <div class="cell white">
    <p>A developer eager to deconstruct challenges and build impactful tools</p>
    <h1>
      <span class="cell grid-x upcase bold os-font">
        <span class="cell">Allen Thich</span>
      </span>
    </h1>
    <!-- <button class="hollow button" href="#" style="border: 1px solid white; color: white;">EXPLORE</button> -->
    <div class="button-group hollow no-gaps align-center-middle">
      <a class="button" href="/about" style="border: 1px solid white; color: white;">ABOUT</a>
      <a class="button" href="/career" style="border: 1px solid white; color: white;">EXPERIENCE</a>
      <a class="button" href="/projects" style="border: 1px solid white; color: white;">PROJECTS</a>
    </div>
  </div>
  <div class="abs"></div>
</div>
