.grid-box {
  background-color: #f2f2f2;
  border-top: 1px solid slategray;
  border-bottom: 1px solid slategray;
}

.grid-box-title {
  background-color: darkslategray;
  border-bottom: 1px solid slategray;
  color: whitesmoke;
}

.grid-box-ghost {
  background-color: white;
  color: white;
  border-bottom: 1px solid slategray;
}

.text {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Segoe UI Symbol", "Segoe UI Emoji", "Apple Color Emoji", Roboto, Helvetica, Arial, sans-serif;
}

.border {
  border: 1px solid black;
}

.ffmark {
  font-family: "FF Mark W05";
  font-size: 12px;
  font-weight: 800;
  line-height: 76px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

/**
 * Career Tabs
 */
@keyframes setActiveHeader {
  0% {
    background-size: 0% 100%;
  }
  100% {
    background-size: 100% 100%;
  }
}

#career-tabs {
  border-color: transparent transparent #e6e6e6 transparent;
  
  li {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    border-bottom: 2px solid white;
  
    > a {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      color: black;
  
      &:hover {
        text-decoration: none;
      }
    }
    
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-color: transparent;
    
    &.is-active {
      // animation:  0.25s ease-out 0s 1 setActiveHeader;
      background-size: 100% 100%;
      background-color: #f7f7f7;
      color: #f7f7f7;
      border-bottom: 2px solid #f7f7f7;

      > a {
        background: inherit;
        color: black;
      }
    }
    &:hover {
      border-bottom: 2px solid #f7f7f7;
    }
  }
}

.tabs-content {
  border: none;
}

.tabs-panel table {
  margin-bottom: 0px;
}

.subhead {
  font-family: "Open Sans";
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 1px solid #e6e6e6;
}

@media screen and (max-width: 40em) {
  .grid-padding-y > .cell + .cell {
    padding-top: 0;
  }
}

.progress-bar {
  display: flex;
  height: 8px;
  overflow: hidden;
  background-color: #e1e4e8;
  border-radius: 6px;
  outline: 1px solid transparent;
}

.progress-section+.progress-section {
  margin-left: 2px;
}

.list-style-none {
  list-style: none;
}

.unimportant-hide {
  display: none;
}

.block {
  display: block;
}

.inline {
  display: inline;
}

.inline-flex {
  display: inline-flex;
}

.mr1 {
  margin-right: 1%;
}

.mr1em {
  margin-right: 1em;
}

.mr2 {
  margin-right: 2%;
}

.mr-4 {
  margin-right: 4px;
}

.mr-8 {
  margin-right: 8px;
}

.chart-container {
  // width: 100px;
  height: 200px;
  max-height: 200px;
}

.capitalize {
  text-transform: capitalize;
}

#chartjs-tooltip {
  text-transform: capitalize;
}

.contribution-table, .usage-table, .statistics-table {
  border: none;
  width: 100%;

  tbody, tr, td {
    border: none;
  }
}

#statistics-tabs {
  border: none;
  border-bottom: 1px solid #e6e6e6;
}

.hero {
  height: 60vh;
  background: 
  linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.8)
  ),
  url(../img/WALK_BIG_SUR_CROP.jpeg);
  // background-image: url(../img/IMG_8812.JPEG);
  background-position: center;
  background-position-y: 35%;
  background-size: cover;
  background-repeat: no-repeat;
}

// About
.gradient-overlay {
  height: 100%;
  position: absolute;
  width: 100%;
  top: 0;
  background: 
  linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    90%,
    rgba(0, 0, 0, 0.8)
  );
}

@media screen and (min-width: 1920px) {
  .hero {
    background-position-y: 30%;
  }
}

.white {
  color: white;
}

.nowrap {
  white-space: nowrap;
}

// Header
.off-canvas-wrapper {
  overflow: inherit;
}

@media screen and (max-width: 639px) {
  .hero > .site-header .menu > li > a.page-link {
    color: black;
  }

  .off-canvas.position-right {
    transition: transform 0.25s cubic-bezier(0.45, 0.01, 0.45, 1);
  }

  .js-off-canvas-overlay {
    background: rgba(0, 0, 0, 0.25);
  }
}
