.nav-home {
  font-size: 2em;
}

.site-header {
  border-top: none;
}

.separator-bar {
  border-right: 1px solid #e8e8e8;
  padding: 0.5em;
  margin-top: 0.25em;
}

div.separator-bar {
  display: inline;
  padding: 0.5em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.dropdown-pane.is-open {
  max-width: 12em;
  left: auto !important;
  margin-top: 8px;
}

.js-off-canvas-overlay {
  background: rgba(0, 0, 0, 0.25);
}

// Resume Desktop Dropdown
#resume-action-dropdown {
  box-shadow: rgba(10, 30, 65, 0.25) 0px 4px 8px -2px, rgba(10, 30, 65, 0.30) 0px 0px 1px;

  .block {
    line-height: normal;
  }
  a.block {
    margin: 1em 0;
  }

  .post-meta {
    padding-left: 1em;

    &:not(:last-child) {
      border-bottom: 1px solid #e6e6e6;
      padding: 0.5rem 0;
    }
  }

  .icon-wrapper {
    display: inline-flex;
    width: 2em;

    i {
      margin: auto;
    }
  }
}

@media screen and (max-width: 639px) {
  ul.menu > li.nav-resume .nav-resume-actions .post-meta:first-of-type {
    border-top: none;
  }
}

// Resume Mobile
ul > li.nav-resume {
  max-height: none;

  span.page-link {
    color: black;
    cursor: default;
    padding: 0.7rem 1rem;
    padding-bottom: 0;
  }

  .nav-resume-actions {
    .block {
      line-height: normal;
    }

    a.page-link {
      padding-left: 1.5em;
    }
  
    .post-meta {
      padding-left: 2em;
  
      &:not(:last-child) {
        border-bottom: 1px solid #e6e6e6;
        padding-top: 1rem;
        padding-bottom: 1rem;
      }
    }
  
    .icon-wrapper {
      display: inline-flex;
      width: 1.75em;
  
      i {
        margin: auto;
      }
    }
  }
}

// Mobile Header
.title-bar {
  background: inherit;

  .menu-icon::after {
    background: black;
    -webkit-box-shadow: 0 7px black, 0 14px 0 black;
    box-shadow: 0 7px 0 black, 0 14px 0 black;
  }
}

@media screen and (max-width: 600px) {
  .title-bar-left .site-title {
    padding-right: 0;
  }
}

.off-canvas {
  background: white;
}

.off-canvas.position-right {
  transition: transform 0.25s cubic-bezier(0.45, 0.01, 0.45, 1);
}

.off-canvas ul.menu > li.cell.small-12.medium-2 {
  width: 100%;

  a {
    color: black;
  }
}

.off-canvas-wrapper {
  overflow: inherit;
}
