.page-content {
  padding: 0;
}

.no-pad-wrapper {
  padding-right: 0;
  padding-left: 0;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero > .site-header {
  border-bottom: none;

  .menu > li > a {
    color: white;
  }
  .resume-button {
    color: white;
    border-color: white;

    &:hover,
    &:focus {
      border-color: white;
      color: white;
    }
  }
}

.button.dropdown.hollow::after,
.button.dropdown.clear::after {
  border-top-color: white;
}

// Mobile
.separator-bar {
  border-right: 1px solid white;
  padding: 0.5em;
  margin-top: 0.25em;
}

.title-bar {
  background: inherit;

  .title-bar-title .site-title {
    color: white;
  }

  .menu-icon::after {
    background: white;
    -webkit-box-shadow: 0 7px white, 0 14px 0 white;
    box-shadow: 0 7px 0 white, 0 14px 0 white;
  }
}

@media screen and (max-width: 639px) {
  .hero > .site-header .menu > li > a.page-link {
    color: black;
  }
}