<div class="wrapper">
  <div class="media-object">
    <div class="media-object-section">
      <div class="thumbnail">
        <img src="../assets/img/TOP_BIG_SUR_POSE_400.jpg" alt="Allen Thich standing on rocks with the Pacific Ocean behind him">
      </div>
    </div>
    <div class="media-object-section main-section">
      <p class="subhead">NAME</p>
      <p class="upcase ns-font">ALLEN THICH</p>
      <p class="subhead">LOCATION</p>
      <p class="upcase ns-font">MONTEREY BAY, CALIFORNIA</p>
      <p class="subhead">EDUCATION</p>
      <p class="upcase ns-font">
        <b>University of California, Irvine</b><br/>
        Bachelor of Science (B.S.), Computer Science<br/>
        2012 – 2016
      </p>

      <p class="subhead">INTERESTS</p>
      <p class="upcase ns-font">
        CYCLING<br/>
        PROGRAMMING
      </p>
    </div>
  </div>

  <!-- Begin Heading -->
  <!-- <div class="cell grid-x grid-margin-x align-center-top grid-padding-y">
    <div class="cell">
      <p class="subhead">EDUCATION</p>
      <p class="upcase ns-font">
        <b>University of California, Irvine</b><br/>
        Bachelor of Science (B.S.), Computer Science<br/>
        2012 – 2016
      </p>

      <p class="subhead">INTERESTS</p>
      <p class="upcase ns-font">
        CYCLING<br/>
        PROGRAMMING
      </p>
    </div>
  </div> -->
  <!-- End Heading -->
</div>